 body{
 	margin: 0;
 	padding: 0;
 	font-size: 20px;
 	background-color: #E6E6E6;
 }
 a{
 	text-decoration: none;
 	color: white;
 }
 header{
 	height: 2.4rem;
 	line-height: 2.4rem;
 	text-align: center;
 	color: white;
 	background-color: #5AC0CE;
 }
 .register{
 	font-size: 0.7rem;
 	float: left;
 	width: 10%;
 }
 .enter{
 	font-size: 0.9rem;
 	float: left;
 	width: 80%;
 }
 .close{
 	font-size: 0.7rem;
     overflow:hidden;
 	float: right;
 	width: 10%;
 }
 
 .phonenb {
 	line-height: 2.1rem;
 	height: 2.6rem;
 	background:white;
  	margin-top: 0.5rem;
 }
 .passwordone{
 		line-height: 2.1rem;
 	height: 2.6rem;
 	background:white;
  	margin-top: 0.5rem;
 
 }
 .icon-phone{
 	margin: 0.5rem auto;
 	float: left;
 	width: 3rem;
 	height: 1.6rem;
 	border-right: solid 1px #E6E6E6;
 	background: url(../img/登陆_03.png) center no-repeat ;
 	background-size: 1rem;
 }
 .icon-lock{
 	margin: 0.5rem auto;
 	float: left;
 	width: 3rem;
 	height: 1.6rem;
 	border-right: solid 1px #E6E6E6;
 	background: url(../img/登陆_06.png) center no-repeat;
 	background-size: 1rem;
 }
 input {
 	margin-left: 0.6rem;
	border: none;
	outline: medium;
	height: 70%;
}
.login{
	font-size: 1.2rem;
	margin-top: 0.6rem;
	height: 2.4rem;
 	line-height: 2.4rem;
 	text-align: center;
 	color: white;
 	background-color: #5AC0CE;
}
.forget{
	float: right;
	padding-top: 1rem;
	font-size: 1rem;
}
.forget a{
	color: #5AC0CE;
}
